@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --font-sans: 'Roboto Slab', serif;

  --red: 352, 82%, 46%;
  --green: 64.14, 69.05%, 49.41%;
  --blue: 218.79, 70.21%, 27.65%;

  --primary: var(--blue) !important;
  --primary-hover: var(--green) !important;
  --primary-foreground: 0 0% 100% !important;
  --head: var(--green) !important;
  --heart: var(--blue) !important;
  --hand: var(--red) !important;
  --destructive: var(--red) !important;
}